* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    background-color: purple;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

footer {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    color: #666;
    background: white;
}
#white-bg {
    background-color: white;
    height: 100vh;
    padding: 20px;
}

main form {
    display: flex;
    flex-direction: column;
}

main input  {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 150px;
}

main label {
    font-weight: bold;
    font-size: larger;
}

main input[type="submit"] {
    width: 100px;
    margin-left: 100px;
}