<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittel %}Min Flask-app{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="white-bg">
        <nav>
            <div>
                <a href="/">Forside</a>
                <a href="/innlegg">innlegg</a>
            </div>
            <div>
                <a href="/signup">Sign Up</a>
                <a href="/login">Login</a>
            </div>
        </nav>
    
        <main>
            {% block innhold %}{% endblock %}
        </main>
    
        <footer>
            <p>Laget med Flask</p>
        </footer>
    </div>
</body>
</html>