{% extends "base.html" %}

{% block tittel %}Sign Up{% endblock %}

{% block alert %}
    {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
    {% endif %}
{% endblock %}

{% block innhold %}
    <h1>Signup</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input name="username" type="text" id="username" required>
        <label for="email">Email:</label>
        <input name="email" type="email" id="email" required>
        <label for="password">password:</label>
        <input name="password" type="password" id="password" required>
        <input type="submit" value="Submit">
    </form>
{% endblock %}